@using Animus.Business.Models.Users
@model List<UserModel>
@{
    ViewData["Title"] = "List users";
}

<div class="mt-5 mb-2">
    <a asp-action="Create">Create new</a>
</div>

<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach(var user in Model)
    {
        
        <tr> 
            <td>
                @user.Username
            </td>
            <td>
                @user.Email
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
    }
</table>
